/* FONTS
font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive; */

/* I created this card CSS for cleanup early-on, it may add some complications in the future if overlooked. 
MARK -remember that this is here */
#display-recipes{
    background-image: url("../images/brooke-lark-93581-unsplash.jpg");
       background-size: 100% ;
}
#welcome-card{
    width: 13em;

}
.card {
    margin:5px;
    padding: 5px;
}
/* this table CSS will hopefully allow both shopping list and fridge list to scrolll veritcally, anyone can adjsut as necessary */
table {
    overflow-y: hidden;
}

/* Static CSS */
.display-2{
    color: rgb(79, 200, 244);
    text-shadow: 3px 2px black;
    font-family: 'Pacifico', cursive;
    float: left
}

#food-input-card {
    text-align: center;
}

#logo {
  
    color: rgb(79, 200, 244);
    text-shadow: 3px 2px black;
    font-family: 'Pacifico', cursive;
}
}

#createNewAccount:hover, #signedIn, #signOutBtn {
    cursor: pointer;
}

#helloUser{
    color: white;
    font-size: 20px;
}