/* FONTS
font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive; */

body{
    background-image: url("../images/tileable_wood_texture.png");
    background-repeat: repeat ;

    /* This pattern is downloaded from www.subtlepatterns.com 
 If you need more, that's where to get'em. */
 font-family: 'Anton', sans-serif;
}
.jumbotron{
    border-bottom:  solid;

    
}
#display-recipes{
    background-image: url("../images/brooke-lark-93581-unsplash.jpg");
       background-size: 100% ;
       background-position-y: center;
       /* tag below for working */
       min-height: 250px;
       
}
#welcome-card{
    width: 15em;
    border: solid;
    

}
.card {
    font-family: 'Anton', sans-serif;
       border: solid;
}
/* this table CSS will hopefully allow both shopping list and fridge list to scrolll veritcally, anyone can adjsut as necessary */
table {
    overflow-y: hidden;
}

/* Static CSS */
.display-2{
    color: rgb(79, 200, 244);
    text-shadow: 3px 2px black;
    font-family: 'Pacifico', cursive;
    float: left
}

#food-input-card {
    text-align: center;
    padding: 5px;
}
th td {
       text-align: center;
}

#logo {
  
    color: rgb(79, 200, 244);
    text-shadow: 3px 2px black;
    font-family: 'Pacifico', cursive;
}
}

#createNewAccount:hover, #signedIn, #signOutBtn {
    cursor: pointer;
}

#helloUser{
    color: white;
    font-size: 20px;
}