/* FONTS
font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive; */

body{
    background-image: url("../images/tileable_wood_texture.png");
    background-repeat: repeat ;

    /* This pattern is downloaded from www.subtlepatterns.com 
 If you need more, that's where to get'em. */
 font-family: 'Anton', sans-serif;
}
.jumbotron{
    border-bottom:  solid;
}
.nav-link{
    color:white;
}


#display-recipes{
    background-color:white;
    font-family: 'Anton', sans-serif;
    background-image: url("../images/brooke-lark-93581-unsplash.jpg");
    background-size: 100% ;
    background-position-y: center;
    background-repeat: no-repeat;
       
       /* tag below for working */
     min-height: 29em;
     border: solid;
     border-color: #17a2b8;
     border-top: none;
    
     
    
    
}
#display-shopping-list{
    background-color: white;
    min-height: 29em;
}


 
.card{
    font-family: 'Anton', sans-serif;
       border: solid;
       box-shadow: 10px 10px 5px grey;
       
}
/* this table CSS will hopefully allow both shopping list and fridge list to scrolll veritcally, anyone can adjsut as necessary */
table {
    overflow-y: auto;
}

#recipe-card{
    min-height:95%;
}
#welcome-card{
    width: 15em;
    border: solid;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    box-shadow: none;
 }
#fridge-div{
    padding:0;
   
}
/* Static CSS */
.display-1{
    color: rgb(79, 200, 244);
    text-shadow: 5px 2px black;
    font-family: 'Pacifico', cursive;
    
}

#food-input-card {
    text-align: center;
    padding: 5px;
}
th td {
       text-align: center;
}

#logo {
  
    color: rgb(79, 200, 244);
    text-shadow: 3px 2px black;
    font-family: 'Pacifico', cursive;
}
.fridge-img{
    height: 30emx;
    width: 18em;
}


#createNewAccount:hover, #signedIn, #signOutBtn {
    cursor: pointer;
}

#helloUser{
    color: white;
    font-size: 20px;

}
.recipe-btn{
    position: absolute;
    bottom: 5px;
    left: 15%;
    
}

.displayed-recipes{

    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    width:31%;
    border:solid;
    border-width: 4px !important;
    border-color: black !important;
    color: white;
    text-shadow: 2px 2px black;
    max-height: 22em;  
    box-shadow: 3px 3px 3px grey
}
.recipe-header{
    background-color: #17a2b8 !important;
   opacity: .7;
   position: absolute;
   top:0;
   left:0;
   width: 100%;

}
.workbox-header{
    border-bottom: none !important;
    
}

/* FOOTER BELOW */
.pagebottom { 
    margin-top:20px;
    padding:10px;
    background: #666666;

    color:white;

        text-align: center;

    border: #4aaaa5;

    border-width: 15px;
    

}
.bottom-nav{
    text-align: center;
}
.profile-show{
    margin-left:auto;
    margin-right: auto;
   margin-bottom: 15px;
}
.profile-name{
    color:black;
    font-style: bold;
    text-align: center;
}
.profile-name:hover{
    color:white;
}
.social:hover {

    -webkit-transform: scale(1.1);

    -moz-transform: scale(1.1);

    -o-transform: scale(1.1);

    color:white;

}

.social {

    -webkit-transform: scale(0.8);

    /* Browser Variations: */

    color: #000;

    -moz-transform: scale(0.8);

    -o-transform: scale(0.8);

    -webkit-transition-duration: 0.5s;

    -moz-transition-duration: 0.5s;

    -o-transition-duration: 0.5s;

    margin:auto;

}

.bottom-center{

    color:white;

    font-family: 'Georgia', Times, Times New Roman, serif;

    width:100%;

    border-top-color: #cccccc;

    border-top-width:2px;

    overflow: auto;

    max-width: 960px;

    margin-left: auto;

    margin-right: auto;

    

}
.resource_credits{
    font-size: 12px;
    text-align: left;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
.displayed-recipes{
  
    width:47%;
} }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
        
.displayed-recipes{
  
    width:31%;
} 
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
        
.displayed-recipes{
  
    width:47%;
} }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
        
    .displayed-recipes{
  
        width:31%;
    } 

} 